:root {
  --bslikesd: 0.2vh 0.2vh 0.2vh hsla(0, 1%, 63%, 0.973);
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-color: #dee2e6;
  --bs-border-radius: 0.375rem;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-bg: #f8f9fa;
  --upload-button: hsla(0, 0%, 89%, 0.973);
}
