* {
  &:focus {
    border-color: #67b7a0;
    box-shadow: 0 0 0 0.3rem #bdbcbc49;
  }
  &:focus-visible {
    outline-color: #67b7a0;
    outline-offset: 1px;
  }
  &::selection {
    background-color: #9cdde46a;
    text-shadow: 1px 1px 1px #141313d1;
  }
  &::placeholder {
    color: rgb(151, 145, 145) !important;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
  }
}
